<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %} - The Guitar Database</title>

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="container">

        <header>
            <nav>

            </nav>
        </header>
        <main>
            {% block main %}{% endblock %}
        </main>
        <footer>
            &copy; {{ "now"|date('m/d/Y') }}
        </footer>


        {% block javascripts %}{% endblock %}
    </body>
</html>
