{% extends 'base.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block main %}
    <h1>Welcome To The Guitar Database!</h1>
    <article>
        This is a database about guitars and their players.
    </article>
{% endblock %}

