{% extends "base.html.twig" %}


{% block main %}
    <h1>Add a new player</h1>

    {# ToDo: Add some text here! #}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}